body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a6d6ae;
}
.container {
    width: 230px;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.align-items-end {
    align-items: end;
}
.align-items-center {
    align-items: center;
}
.bg-dark {
    background: #3a0f09;
}
.bg-yellow {
    background: #bb9213;
}
.pl-2 {
    padding-left: 14px;
}
.pr-2 {
    padding-right: 14px;
}
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.tower {
    width: 50px;
    height: 120px;
}
.tower-window {
    width: 20px;
    height: 25px;
    top: 10px;
    left: 15px;
    border-top-left-radius: 46%;
    border-top-right-radius: 46%;
}
.gate-building {
    width: 100px;
    height: 85px;
}
.gate {
    height: 59%;
    width: 60px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.gate-head {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 35px solid #3a0f09;
}
.t-head {
    width: 0; /*80px 60px*/
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 60px solid #3a0f09;
}
